html, body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Geostar', cursive;
    font-family: 'Geostar Fill', cursive;

    background-image: linear-gradient(to bottom, violet, lime)
    
}

.name{
    padding-bottom: 100px;
    background-color: aliceblue
}

.wrapper{
    background-color: aqua;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    height: 80%;
}

.left{
    background-color: beige;
    margin: 5px;
    max-width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.right{
    background-color: beige;
    margin: 5px;
    max-width: 50%;
    flex: 1;
    display: flex;    
    flex-direction: column;
}

h1{
    
}

.profile-pic{
    border-radius: 50%
}

.social-links{
    list-style: none;
    padding-left: 0px;
    font-size: 18px;
}

.social-links li{
    display: inline-block;
}